/* 1. RESET: Zerando os padrões do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. VARIÁVEIS (Seu Design System) */
:root {
  --text-color: #FFFFFF;
  --bg-url: url(https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?q=80&w=2564&auto=format&fit=crop);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: #eb4a5a;
}

/* 3. CORPO (Background e Tipografia) */
body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #121214; 
  
  /* Tipografia Global */
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  
  height: 100vh; 
}

/* 4. O CONTAINER (Limite da largura em telas grandes) */
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* 5. PERFIL */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  border-radius: 50%;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  opacity: 0.8;
}

/* 6. LISTA DE LINKS */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

/* 7. ESTILO DOS BOTÕES */
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 16px 24px;
  
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  
  text-decoration: none;
  font-weight: 500;
  
  transition: background 0.2s, border 0.2s; 
}

/* 8. INTERAÇÃO (Hover) */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* 9. RODAPÉ */
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  opacity: 0.6;
}